.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 0.8rem;
}

.App-main {
  color: white;
}

.App-link {
  color: #61dafb;
}
